<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{dir}}</title>
</head>
<body>
  <h1>Hello!</h1>
  <p>Edit <code>/{{dir}}/index.html</code> and save to reload</p>

  <script type="module" src="./main.js"></script>
</body>
</html>
